.container, h2{
    text-align: center;
    color: blue;
}

ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

a {
 text-decoration: none;
 margin-left: 10px;
}